asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1652752042988/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1667305582810/work
gunicorn==20.1.0
mysqlclient @ file:///Users/runner/miniforge3/conda-bld/mysqlclient_1666955046347/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1668919228101/work
pandas==1.5.2
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1670247090910/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1667391478166/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1663990453245/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1663807083684/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
